
@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

@import url(styles-login/header.css);
@import url(styles-login/section1.css);

@import url(styles/header.css);
@import url(styles/section1.css);
@import url(styles/section2.css);
@import url(styles/section3.css);
@import url(styles/footer.css);

* {
    padding: 0;
    margin: 0;
}

:root {
    --primary-font: "Poppins", sans-serif;
    --second-font: "Montserrat", sans-serif;
    --color-black: #2E2D36;
    --color-black2: #d1d1d1;
    --color-black3: #000;
    --color-white: #fff;
    --color-blue: #0D2139;
    --color-blue2: #1F4D84;
    --color-blue3: #78c4ff;
    --color-purple: #6C00BF;
}

html, body {
    box-sizing: border-box;
    background-color: var(--color-white);
    font-family: var(--primary-font);
}

a {
    text-decoration: none;
    color: var(--color-white);
}

ul {
    list-style: none;
}