.header-container {
    background-color: transparent;
}

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1% 12% 1% 12%;
}

.header_logo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.5rem;

}

.header_logo-content {
    display: flex;
    align-items: center;
    justify-content: center;
}

.header_logo-image {
    width: 2.8vw;
    transition: .4s;
}

.header_logo-image:hover {
    transform: scale(1.1);
}

.header_logo-text {
    font-size: 1.8rem;
    font-weight: 300;
    color: var(--color-black);
    letter-spacing: 0.1rem;
    text-transform: uppercase;
    transition: .4s;
}

.header_logo-text:hover {
    transform: scale(1.05);
}

.header_nav-itens {
    display: flex;
    gap: 2rem;
    font-family: var(--second-font);
    font-weight: 400;
    font-size: 1.1rem;
}

.header_nav-item {
    transition: .4s;
}

.header_nav-item:hover {
    transform: scale(1.1);
}

.header_nav-item_link {
    color: var(--color-black);
}

.header_navbar {
    display: none;
}

.mobile_menu {
    display: none;
}

@media (min-width: 0px) and (max-width: 850px) {

    .header-content {
        padding: 4.5% 10% 4.5% 10%;
    }

    .header_logo-image {
        width: 8vw;
    }

    .header_logo-text {
        font-size: 2rem;
    }

    .header_nav {
        display: none;
    }

    .header_navbar {
        display: block;
    }

    .header_navbar > button {
        background-color: transparent;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .mobile-icon {
        width: 7vw;
    }

    .mobile_menu {
        display: none;
        /* padding: 4% 15% 6% 15%; */
    }

    .open {
        display: block;
    }

    .mobile_menu-itens {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
        font-size: 1.5rem;
        font-weight: 200;
    }

    .mobile_menu-item {
        display: flex;
        align-items: center;
        justify-content: space-between;
        color: var(--color-black);
        padding: 1.8% 20% 1.8% 20%;
        transition: .4s;
    }

    .mobile_menu-item:hover {
        background-color: gray;
        padding-left: 8rem;
    }

    .mobile_menu-item > img {
        width: 6.5vw;
    }
}