
.section3-container {
    background-color: transparent;
    display: flex;
    justify-content: center;
    align-items: center;
}

.section3-content {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 5rem;
    padding: 5% 0% 20% 0%;
}

.section3-text {
    color: var(--color-black);
    display: flex;
    flex-direction: column;
    width: 40%;
    text-align: center;
    gap: 1rem;
}

.section3-title {
    font-size: 2.5rem;
    text-transform: uppercase;
}

.section3-desc {
    font-size: 1.2rem;
    font-family: var(--second-font);
    font-weight: 400;
}

.section3-image {
    width: 15vw;
}

@media (min-width: 0px) and (max-width: 850px) {

    .section3-content {
        display: flex;
        flex-direction: column;
        gap: 5rem;
        padding: 10% 0% 60% 0%;
    }

    .section3-text {
        display: flex;
        flex-direction: column;
        text-align: center;
        width: 80%;
    }

    .section3-title {
        font-size: 2.5rem;
    }

    .section3-desc {
        font-size: 1.5rem;
    }

    .section3-image {
        width: 60vw;
        padding: 0% 5% 0% 0%;
    }
}
